wsdls/registraduria/wsdl.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services.camel.templates.mycompany.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ClientService" targetNamespace="http://services.camel.templates.mycompany.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://services.camel.templates.mycompany.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://services.camel.templates.mycompany.com/">
  <xs:complexType name="client">
    <xs:sequence>
      <xs:element name="age" type="xs:int"/>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" name="country" type="xs:string"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="addClient" type="addClient"/>
  <xs:complexType name="addClient">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arg0" type="client"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="addClientResponse" type="addClientResponse"/>
  <xs:complexType name="addClientResponse">
    <xs:sequence>
      <xs:element form="qualified" name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="updateClient" type="updateClient"/>
  <xs:complexType name="updateClient">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arg0" type="client"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="updateClientResponse" type="updateClientResponse"/>
  <xs:complexType name="updateClientResponse">
    <xs:sequence>
      <xs:element form="qualified" name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getAllClients" type="getAllClients"/>
  <xs:complexType name="getAllClients">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="getAllClientsResponse" type="getAllClientsResponse"/>
  <xs:complexType name="getAllClientsResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="return" type="client"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="addClientResponse">
    <wsdl:part element="tns:addClientResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateClientResponse">
    <wsdl:part element="tns:updateClientResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addClient">
    <wsdl:part element="tns:addClient" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateClient">
    <wsdl:part element="tns:updateClient" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllClientsResponse">
    <wsdl:part element="tns:getAllClientsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllClients">
    <wsdl:part element="tns:getAllClients" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ClientServicePortType">
    <wsdl:operation name="addClient">
      <wsdl:input message="tns:addClient" name="addClient">
    </wsdl:input>
      <wsdl:output message="tns:addClientResponse" name="addClientResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateClient">
      <wsdl:input message="tns:updateClient" name="updateClient">
    </wsdl:input>
      <wsdl:output message="tns:updateClientResponse" name="updateClientResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllClients">
      <wsdl:input message="tns:getAllClients" name="getAllClients">
    </wsdl:input>
      <wsdl:output message="tns:getAllClientsResponse" name="getAllClientsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientServiceSoapBinding" type="tns:ClientServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addClient">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="addClient">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addClientResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateClient">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateClient">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateClientResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllClients">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllClients">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllClientsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientService">
    <wsdl:port binding="tns:ClientServiceSoapBinding" name="ClientServicePort">
      <soap:address location="http://localhost:9292/cxf/client"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>