wsdls/registraduria/wsdl.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://services.camel.templates.mycompany.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ClientService" targetNamespace="http://services.camel.templates.mycompany.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://services.camel.templates.mycompany.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://services.camel.templates.mycompany.com/">
  <xs:complexType name="client">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="firstName" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="idNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="lastName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="document">
    <xs:sequence>
      <xs:element minOccurs="0" name="fullPath" type="xs:string"/>
      <xs:element minOccurs="0" name="modifiedDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="validateClient" type="validateClient"/>
  <xs:complexType name="validateClient">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="arg0" type="client"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="validateClientResponse" type="validateClientResponse"/>
  <xs:complexType name="validateClientResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="return" type="document"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="validateClient">
    <wsdl:part element="tns:validateClient" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="validateClientResponse">
    <wsdl:part element="tns:validateClientResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ClientServicePortType">
    <wsdl:operation name="validateClient">
      <wsdl:input message="tns:validateClient" name="validateClient">
    </wsdl:input>
      <wsdl:output message="tns:validateClientResponse" name="validateClientResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientServiceSoapBinding" type="tns:ClientServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="validateClient">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="validateClient">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="validateClientResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientService">
    <wsdl:port binding="tns:ClientServiceSoapBinding" name="ClientServicePort">
      <soap:address location="http://localhost:9292/cxf/client"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>